.pc_title {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.pc_content {
    margin-top: 30px;
    margin-bottom:50px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
    font-size:15px;
}

.pc_field_section {
    width: 100%;
    margin-top:40px;
}

.pc_field_title {
    font-weight: bold;
    text-align: right;
}

.pc_field_title_large {
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.pc_item_title {
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.pc_field_content {
    display: inline;
    padding-left: 10px;
}

.pc_items {
    
}

.pc_item {
    margin-top: 30px;
}

.pc_item_table {
    margin-top: 20px;
}

.pc_item_header {
    font-weight: bold;
}

.pc_item_header_field {
    
}

.pc_item_row {
    
}

.pc_item_row_field {
    
}

.text_center {
    text-align: center;
}