* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clear fix */
.items:after {
    content: '';
    display: block;
    clear: both;
}

.item,.item-sizer {
    width: 32%;
}

.item {
    float: left;
    min-height: 100px;
    padding: 10px;
    line-height: 1;
}

.width2 { width: 64%; }

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}

.button-bar{
    margin-top: 2px;
    margin-bottom: 2px;
}

.logo img{
    max-height: 34px;
    margin-top: 5px;
    max-width: 50%;
}

.home-buttons-container{
    margin-top: 10px;
    height: 82%;
}

.home-buttons{
    background: rgba(255,0,0,0.5);
    color:white;
    padding: 2%;
    margin: 2% 40px;
    text-align: center;
    height: 28%;
}

.home-buttons:last-child {
    margin-bottom: 0;
}

#preference_card_image {
    width: 70%;
}

#category_row {
    padding: 100px 30px;
}

.category_button {
    padding-left: 10px;
    padding-right: 10px;
}

.category_title {
    margin-top: 10px;
    height: 15%;
    text-align:center;
}

.profile-wrapper {
  padding: 16px 10px 0 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, 0.3);
}

.list__right-label {
    padding-right: 25px;
}

.add_form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=text] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.grid_item {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: white;
    height: 220px;
    text-align:center;
}

.center_image {
    display: block;
    margin: auto;
    width: 100%;
}

.category_image_div {
    height: 85%;
    width:100%;
}

.dialog {
    width: 600px;
    height: 50px;
    background-color: white;
    min-height:50px;
}

.text_center {
    text-align: center;
}


