
<ons-page ng-controller="EpisController">
    <ons-row class="center" id="category_row">
        
        <ons-col width="25%"  ng-click="go_product(1)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="images/product_category/EndoMechanical1.jpg" class="center_image"/>
                </div>
                <div class="category_title">Endo Mechanical</div>
            </div>
        </ons-col>
        
        <ons-col width="25%"  ng-click="go_product(2)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="images/product_category/AdvancedEnergy1.png" class="center_image"/>
                </div>
                <div class="category_title">Advanced Energy</div>
            </div>
        </ons-col>
        
        <ons-col width="25%"  ng-click="go_product(3)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="images/product_category/WoundClosure1.png" class="center_image"/>
                </div>
                <div class="category_title">Wound Closure</div>
            </div>
        </ons-col>
        
        <ons-col width="25%"  ng-click="go_product(4)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="images/product_category/Biosurgery1.png" class="center_image center"/>
                </div>
                <div class="category_title">Biosurgery</div>
            </div>
        </ons-col>
        
        <!-- 
        <ons-col class="category_button" width="25%" ng-click="go_product(1)">
            <img src="images/product_category/EndoMechanical1.jpg" width="100%"/>
            <div class="category_title">Endo Mechanical</div>
        </ons-col>
        <ons-col class="category_button" width="25%" ng-click="go_product(2)">
            <img src="images/product_category/AdvancedEnergy1.png" width="100%"/>
            <div class="category_title">Advanced Energy</div>
        </ons-col>
        <ons-col class="category_button" width="25%" ng-click="go_product(3)">
            <img src="images/product_category/WoundClosure1.png" width="100%"/>
            <div class="category_title">Wound Closure</div>
        </ons-col>
        <ons-col class="category_button" width="25%" ng-click="go_product(4)">
            <img src="images/product_category/Biosurgery1.png" width="100%"/>
            <div class="category_title">Biosurgery</div>
        </ons-col>
        -->
    </ons-row>
</ons-page>