<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />

<!-- JS dependencies (order matters!) -->
<script src="js/platformOverrides.js"></script>
<script src="js/index.js"></script>

<script src="lib/onsenui/js/onsenui.js"></script>
<script src="lib/onsenui/js/angular/angular.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/onsenui/js/onsenui.js"></script>

<!-- CSS dependencies -->
<link rel="stylesheet" href="lib/onsenui/css/onsenui.css" />
<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-blue-basic-theme.css" />
<link rel="stylesheet" href="css/styles.css" />

<!-- CSP support mode (required for Windows Universal apps) -->
<link rel="stylesheet" href="lib/onsenui/js/angular/angular-csp.css" />

<!-- --------------- App init --------------- -->
<script src="js/app.js"></script>
<script src="js/apiService.js"></script>
<script src="js/databaseService.js"></script>
<script src="js/fileService.js"></script>
<script src="js/networkService.js"></script>

<title>Ethicon</title>

</head>

<body ng-controller="AppController">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>

    <!-- -->

    <ons-navigator var="navi"> 
    <ons-page ng-controller="MasterController">
        <div class="center logo"><img src="images/ethicon-logo.jpg"></div>
        <div class="home-buttons-container">
            <div class="home-buttons" ng-click="showEPI()">
                <div></div>
                <div>Essential Product Information</div>
            </div>
            <div class="home-buttons" ng-click="showEIFU()">
                <div></div>
                <div>EIFUs</div>
            </div>
            <div class="home-buttons" ng-click="showPreferenceCards()">
                <div></div>
                <div>Procedure Preference Cards</div>
            </div>
            <div class="home-buttons" ng-click="synchronize()">
                <div></div>
                <div>Synchronize</div>
            </div>
        </div>
    </ons-page> </ons-navigator>

    <ons-template id="epi.html">
        <ons-page ng-controller="EpiController">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center" ng-click="filterBy('*')">Essential Product Information</div>
            </ons-toolbar>
            <div class="button-bar" style="width: 100%;">
                <div class="button-bar__item">
                    <button class="button-bar__button" ng-click="filterBy('.endo-mechanichal')">Endo Mechanical</button>
                </div>
        
                <div class="button-bar__item">
                    <button class="button-bar__button" ng-click="filterBy('.advanced-energy')">Advanced Energy</button>
                </div>
        
                <div class="button-bar__item">
                    <button class="button-bar__button" ng-click="filterBy('.wound-closure')">Wound Closure</button>
                </div>

                <div class="button-bar__item">
                    <button class="button-bar__button" ng-click="filterBy('.biosurgery')">Biosurgery</button>
                </div>
            </div>
            <div>
                <div class="items">
                    <div class="item-sizer"></div>
                    <div class="item {{item.width}} {{item.tags}}" ng-repeat="item in items" ng-click="showDetail($index)" repeat-directive>
                        <header>
                            <span class="item-title">{{item.title}}</span> <span class="item-label">{{item.label}}</span>
                        </header>
                        <p class="item-desc">{{item.desc}}</p>
                    </div>
                </div>
            </div>
        </ons-page>
    </ons-template>

    <ons-template id="eifu.html">
        <ons-page ng-controller="EifuController">
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">EIFUs</div>
            </ons-toolbar>
            <div>
            </div> 
        </ons-page>
    </ons-template>

    <ons-template id="ppc.html"> 
        <ons-page ng-controller="PreferenceCardsController"> 
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Procedure Preference Cards</div>
            </ons-toolbar>
            <div>
                <button class="button button--large" ng-click="takePhoto()">Take Photo</button>
                <img id="preference_card_image"/>
                <button class="button button--large" ng-click="uploadPhoto()">Upload</button>
            </div>
            <br>
        </ons-page> 
    </ons-template>

    <ons-template id="detail.html"> 
        <ons-page ng-controller="DetailController"> 
            <ons-toolbar>
                <div class="left">
                    <ons-back-button>Back</ons-back-button>
                </div>
                <div class="center">Details</div>
            </ons-toolbar> 
            <ons-list modifier="inset" style="margin-top: 10px"> 
                <ons-list-item class="item"> 
                    <ons-row> 
                        <ons-col width="60px">
                            <div class="item-thum"></div>
                        </ons-col> 
                        <ons-col> 
                            <header>
                                <span class="item-title">{{item.title}}</span> 
                                <span class="item-label">{{item.label}}</span>
                            </header>
                            <p class="item-desc">{{item.desc}}</p>
                        </ons-col> 
                    </ons-row> 
                </ons-list-item> 
            </ons-list> 
            <ons-list style="margin-top: 10px"> 
                <ons-list-item class="item" ng-repeat="i in [1,2,3]"> 
                    <header>
                        <span class="item-title">Lorem ipsum dolor sit amet</span>
                    </header>
                    <p class="item-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
                    </p>
                </ons-list-item> 
            </ons-list> 
            <br>
        </ons-page> 
    </ons-template>
</body>
</html>