<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>
<head>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />

<!-- Libraries -->
<script src="lib/onsenui/js/onsenui.js"></script>
<script src="lib/onsenui/js/angular/angular.js"></script>
<script src="lib/onsenui/js/angular/angular-filter.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/onsenui/js/onsenui.js"></script>

<!-- CSS dependencies -->
<link rel="stylesheet" href="lib/onsenui/css/onsenui.css" />
<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components-blue-basic-theme.css" />
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/pc_detail.css" />

<!-- CSP support mode (required for Windows Universal apps) -->
<link rel="stylesheet" href="lib/onsenui/js/angular/angular-csp.css" />

<title>Ethicon</title>

</head>

<body ng-controller="AppController">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>

    <!-- -->

    <ons-navigator var="navi"> 
        <ons-page ng-controller="MasterController">
            <ons-toolbar>
                <div class="center logo">
                    <img src="images/ethicon-logo.jpg" class="center">
                </div>
                <div class="right">
                    <ons-toolbar-button ng-click="synchronize()">
                        Sync
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            
            <ons-tabbar position="top" style="margin-top:30px">
                <ons-tab page="epis.html" label="Essential Product Information" active="true"></ons-tab>
                <ons-tab page="links.html" label="EIFUs"></ons-tab>
                <ons-tab page="surgeons.html" label="Procedure Preference Cards"></ons-tab>
            <!--    <ons-tab page="surgeons.html" label="Surgeons"></ons-tab> -->
            </ons-tabbar>
            <!--
            <div class="home-buttons-container">
                <div class="home-buttons" ng-click="showEPI()">
                    <div></div>
                    <div>Essential Product Information</div>
                </div>
                <div class="home-buttons" ng-click="showEIFU()">
                    <div></div>
                    <div>EIFUs</div>
                </div>
                <div class="home-buttons" ng-click="showPreferenceCards()">
                    <div></div>
                    <div>Procedure Preference Cards</div>
                </div>
            </div>
            -->
        </ons-page>
    </ons-navigator>
</body>

<!-- --------------- Pages --------------- -->
<script src="js/index.js"></script>
<script src="js/links.js"></script>
<script src="js/epis.js"></script>
<script src="js/pcs.js"></script>
<script src="js/products.js"></script>
<script src="js/surgeons.js"></script>
<script src="js/product_detail.js"></script>
<script src="js/product_detail_dialog.js"></script>
<script src="js/product_pdf_page.js"></script>
<script src="js/product_video_page.js"></script>
<script src="js/link_detail.js"></script>
<script src="js/pc_detail.js"></script>
<script src="js/surgeon_detail.js"></script>
<script src="js/link_add.js"></script>
<script src="js/surgeon_add.js"></script>
<script src="js/pc_add.js"></script>
<script src="js/product_add.js"></script>

<!-- --------------- Services --------------- -->
<script src="js/apiService.js"></script>
<script src="js/fileService.js"></script>
<script src="js/networkService.js"></script>
<script src="js/databaseService.js"></script>
<script src="js/linkService.js"></script>
<script src="js/productService.js"></script>
<script src="js/surgeonService.js"></script>
<script src="js/pcService.js"></script>

</html>