<ons-page ng-controller="LinkDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Link Detail</div>
    </ons-toolbar>

    <ul class="list">
        <li class='list__item'>
            <div class='list__right-label'>{{link.id}}</div>
            ID
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{link.name}}</div>
            Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{link.url}}</div>
            URL
        </li>
    </ul>
</ons-page>