<ons-page ng-controller="LinkAddController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Link</div>
        <div class="right">
            <ons-toolbar-button ng-click="link_add_done()">
                Done
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div class="add_form">
        <input type="text" class="text-input--underbar" placeholder="Name" ng-model="addedLinkName">
        <br>
        <input type="text" class="text-input--underbar" placeholder="Link URL" value="" ng-model="addedLinkUrl">
    </div>
</ons-page>