<ons-page ng-controller="LinkDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{link.name}}</div>
    </ons-toolbar>

    <iframe id="linkPageByUrl" width="100%" height="100%">
    
    </iframe>
</ons-page>