<ons-page ng-controller="PCAddController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Preference Card</div>
        <div class="right">
            <ons-toolbar-button ng-click="pc_add_done()">
                Done
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div class="add_form">
        <ons-list>
            <ons-list-header>Surgeon</ons-list-header>
            <ons-list-item modifier="tappable" ng-repeat="surgeon in arrSurgeons">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="category_selector" value="{{surgeon.id}}" ng-model="$parent.selectedSurgeonID">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{surgeon.name}}
                </label>
            </ons-list-item>
        </ons-list>
        <div style="margin-top: 30px">
            <button class="button button--large" ng-click="takePhoto()">Take Photo</button>
            <img id="preference_card_image" style="margin-top: 30px"/>
            <!--<button class="button button--large" ng-click="uploadPhoto()">Upload</button>-->
        </div>
    </div>
</ons-page>