<ons-page ng-controller="PCDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Preference Cards Detail</div>
    </ons-toolbar>

    <ul class="list">
        <li class='list__item'>
            <ons-row class='profile-wrapper'>
                <ons-col width='60px' class='profile-image-wrapper'>
                    <img src='{{rootPath + pc.card_url}}' class='profile-image'>
                </ons-col>
            </ons-row>
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{pc.id}}</div>
            ID
        </li>
        
        <li class='list__item list__item--chevron' ng-click='go_surgeon_detail(pc.surgeon_id)'>
            <div class='list__right-label'>{{pc.surgeon.name}}</div>
            Surgeon Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{serverAddress + '/img/uploads/' + pc.card_url}}</div>
            Card URL
        </li>
    </ul>
</ons-page>