<ons-page ng-controller="AddPCController">
    <!-- 
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Procedure Preference Cards</div>
    </ons-toolbar>
    -->
    <div>
        <button class="button button--large" ng-click="takePhoto()">Take Photo</button>
        <img id="preference_card_image"/>
        <button class="button button--large" ng-click="uploadPhoto()">Upload</button>
    </div>
    <br>
</ons-page>