<ons-page ng-controller="ProductsController">
    <ons-toolbar>
        <div class="center logo">
            <img src="images/ethicon-logo.jpg" class="center">
        </div>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
    </ons-toolbar>

    <div class="navigation-bar" style="margin-top:30px; background-color:black" >
        <div class="navigation-bar__center" style="color:white">
            {{categoryName}}
        </div>
    </div>
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <ons-row>
                <ons-col width="85%">
                    <input type="search" ng-model="searchKey.name" class="search-input" style="width: 98%; margin: 6px auto 6px auto;" 
                        placeholder="Search">
                </ons-col>
                <ons-col width="15%">
                    <ons-toolbar-button class="right" ng-click="go_add()">
                        Add Product
                    </ons-toolbar-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
    <ons-row class="center">
        <ons-col width="25%" ng-repeat="product in arrProducts | filter: searchKey" ng-click="go_detail(product)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="{{serverAddress + '/' + product.image_url}}" class="center_image"/>
                </div>
                <div class="category_title">{{product.name}}</div>
            </div>
        </ons-col>
    </ons-row>
</ons-page>

