<ons-page ng-controller="ProductVideoPageController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{product.name}}</div>
    </ons-toolbar>

    <!-- 
    <iframe id="productVideoByUrl" width="100%" height="100%">
    
    </iframe>
     -->
    <video width="100%" height="100%" autoplay>
        <source id="productVideoSource" src="">

        <!-- <source src="http://192.168.1.130/ethicon/video/products/video1.mp4"> -->
    </video>
</ons-page>