<ons-page ng-controller="SurgeonDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Surgeon Detail</div>
    </ons-toolbar>

    <ul class="list">
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.id}}</div>
            ID
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.name}}</div>
            Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.contact_number}}</div>
            Contact Number
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.specialty}}</div>
            Sepcialty
        </li>
    </ul>
</ons-page>