<ons-page ng-controller="SurgeonsController">
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <ons-row>
                <ons-col width="85%">
                    <input type="search" ng-model="searchKey.name" class="search-input" style="width: 98%; margin: 6px auto 6px auto;" 
                        placeholder="Search for an existing surgeon">
                </ons-col>
                <ons-col width="15%">
                    <ons-toolbar-button class="center" ng-click="go_add()">
                        Add Surgeon
                    </ons-toolbar-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
    <ons-row class="center" style="margin-top:30px">
        <ons-col width="33%" ng-repeat="surgeon in arrSurgeons | filter: searchKey" ng-click="go_detail(surgeon)">
            <div style="margin-left: 40px;margin-top:12px;margin-bottom:12px">{{surgeon.name}}</div>
        </ons-col>
    </ons-row>
</ons-page>