
<ons-page ng-controller="EpisController">
    <div class="button-bar" style="width: 100%;">
        <div class="button-bar__item">
            <button class="button-bar__button" ng-click="filterBy('.endo-mechanichal')">Endo Mechanical</button>
        </div>

        <div class="button-bar__item">
            <button class="button-bar__button" ng-click="filterBy('.advanced-energy')">Advanced Energy</button>
        </div>

        <div class="button-bar__item">
            <button class="button-bar__button" ng-click="filterBy('.wound-closure')">Wound Closure</button>
        </div>

        <div class="button-bar__item">
            <button class="button-bar__button" ng-click="filterBy('.biosurgery')">Biosurgery</button>
        </div>
    </div>
    <div>
        <div class="items">
            <div class="item-sizer"></div>
            <div class="item {{item.width}} {{item.tags}}" ng-repeat="item in items" ng-click="showDetail($index)" repeat-directive>
                <header>
                    <span class="item-title">{{item.title}}</span> <span class="item-label">{{item.label}}</span>
                </header>
                <p class="item-desc">{{item.desc}}</p>
            </div>
        </div>
    </div>
</ons-page>