
<ons-page ng-controller="LinksController">
    <ons-toolbar>
        <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="go_add()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>
            <table style="width:100%">
                <tr>
                    <td style='width:15%'>ID</td>
                    <td style='width:35%'>NAME</td>
                    <td style='width:50%'>URL</td>
                </tr>
            </table>
        </ons-list-header>
        
        <ons-list-item modifier="chevron" ng-repeat="link in arrLinks" ng-click="go_detail($index)">
            <table style="width:100%">
                <tr>
                    <td style='width:15%'>{{link.id}}</td>
                    <td style='width:35%'>{{link.name}}</td>
                    <td style='width:50%'>{{link.url}}</td>
                </tr>
            </table>
        </ons-list-item>
    </ons-list>
</ons-page>