
<ons-page ng-controller="LinksController">
    <!-- 
    <ons-toolbar>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="go_add()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    -->
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <input type="search" ng-model="searchKey.name" class="search-input" style="width: 98%; margin: 6px auto 6px auto;" placeholder="Search">
        </div>
    </div>

    <ons-row class="center">
        <ons-col width="25%" ng-repeat="link in arrLinks | filter: searchKey" ng-click="go_detail(link)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="{{serverAddress + '/' + link.image_url}}" class="center_image"/>
                </div>
                <div class="category_title">{{link.name}}</div>
            </div>
        </ons-col>
    </ons-row>
    <!--
    <ons-list>
        <ons-list-header>
            <table style="width:100%">
                <tr>
                    <td style='width:15%'>ID</td>
                    <td style='width:35%'>NAME</td>
                    <td style='width:50%'>URL</td>
                </tr>
            </table>
        </ons-list-header>
        
        <ons-list-item modifier="chevron" ng-repeat="link in arrLinks" ng-click="go_detail($index)">
            <table style="width:100%">
                <tr>
                    <td style='width:15%'>{{link.id}}</td>
                    <td style='width:35%'>{{link.name}}</td>
                    <td style='width:50%'>{{link.url}}</td>
                </tr>
            </table>
        </ons-list-item>
    </ons-list>
    -->
</ons-page>