<ons-page ng-controller="PCDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Preference Cards Detail</div>
    </ons-toolbar>

    <!-- 
    <ul class="list">
        <li class='list__item'>
            <ons-row class='profile-wrapper'>
                <ons-col width='60px' class='profile-image-wrapper'>
                    <img src="{{serverAddress + '/' + pc.card_url}}" class='profile-image'>
                </ons-col>
            </ons-row>
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{pc.id}}</div>
            ID
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{pc.surgeon.name}}</div>
            Surgeon Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{serverAddress + '/' + pc.card_url}}</div>
            Card URL
        </li>
    </ul>
     -->
    <div class="pc_title">
        Surgeon A. Example `s Preference Card
    </div>
    <div class="pc_content">
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Procedure Name:
            </ons-col>
            <ons-col class="pc_field_content">
                Inguinal Herina
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Surgeon Name:
            </ons-col>
            <ons-col class="pc_field_content" width="30%">
                Surgeon A. Example `s Preference Card
            </ons-col>
            <ons-col class="pc_field_title" width="20%">
                Phone Number:
            </ons-col>
            <ons-col class="pc_field_content">
                555-555-5556
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Gloves:
            </ons-col>
            <ons-col class="pc_field_content" width="30%">
                7.5 Biogel - 7.5 Esteem
            </ons-col>
            <ons-col class="pc_field_title" width="20%">
                Page Number:
            </ons-col>
            <ons-col class="pc_field_content">
                555-555-5555
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Instruments Set(s)
            </ons-col>
            <ons-col class="pc_field_content">
                Minor, General
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Equipment
            </ons-col>
            <ons-col class="pc_field_content">
                Bovie
                <br>Suction
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Partient Prep
            </ons-col>
            <ons-col class="pc_field_content">
                Supine with pillow under knees
                <br>Chloraprep
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Midications
            </ons-col>
            <ons-col class="pc_field_content">
                Marcaine 0.25% Plain mixed with Lidocaine 1% Plain 1:1
                <br>Ancef 1 gm in 500MI NS Irrigation
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Dressing
            </ons-col>
            <ons-col class="pc_field_content">
                Dermabond
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title" width="20%">
                Scrub and Circulator
            </ons-col>
            <ons-col class="pc_field_content">
                Often times procedure will be done under MAC anesthesia.
            </ons-col>
        </ons-row>
        <ons-row class="">
            <ons-col class="pc_field_title" width="20%">
                Notes
            </ons-col>
            <ons-col class="pc_field_content">
                Make sure patient is shaved prior to entering OR
            </ons-col>
        </ons-row>
        <ons-row class="pc_field_section">
            <ons-col class="pc_field_title_large" width="20%">
                Pick Items
            </ons-col>
            <ons-col class="pc_field_content">
                <div class="pc_items">
                    <div class="pc_item">
                        <div class="pc_item_title">
                            SPD Items
                        </div>
                        <div class="pc_item_table">
                            <ons-row class="pc_item_header">
                                <ons-col class="pc_item_header_field" width="35%">
                                    Item Name
                                </ons-col>
                                <ons-col class="pc_item_header_field" width="25%">
                                    Catalog
                                </ons-col>
                                <ons-col class="pc_item_header_field" width="20%">
                                    Location
                                </ons-col>
                                <ons-col class="pc_item_header_field text_center" width="20%">
                                    Quantity
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    Towels, Sterile
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    NA
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    TBA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    Eletro Cautery Pencil
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    E2100
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    TBA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    NACL Irrigation, 1000 ML
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    Baxter-2F7114
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    NA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    Procedure Pack, Minor
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    KM88168
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    SPD
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    Raytec Sponge
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    Cardinal-JJ2515
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    TBA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                        </div>
                    <div>
                    <div class="pc_item">
                        <div class="pc_item_title">
                            OR Items
                        </div>
                        <div class="pc_item_table">
                            <ons-row class="pc_item_header">
                                <ons-col class="pc_item_header_field" width="35%">
                                    Item Name
                                </ons-col>
                                <ons-col class="pc_item_header_field" width="25%">
                                    Catalog
                                </ons-col>
                                <ons-col class="pc_item_header_field" width="20%">
                                    Location
                                </ons-col>
                                <ons-col class="pc_item_header_field text_center" width="20%">
                                    Quantity
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    309 Chromic SH
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    G122H
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    Suture Rack
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    4-0 Vicryl FS-2
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    J422H
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    NA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                            <ons-row class="pc_item_row">
                                <ons-col class="pc_item_row_field" width="35%">
                                    Dermabond
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="25%">
                                    DPP6
                                </ons-col>
                                <ons-col class="pc_item_row_field" width="20%">
                                    TBA
                                </ons-col>
                                <ons-col class="pc_item_row_field text_center" width="20%">
                                    1
                                </ons-col>
                            </ons-row>
                        </div>
                    <div>
                </div>
            </ons-col>
        </ons-row>
    </div>
</ons-page>