<ons-page ng-controller="PCsController">
    <ons-toolbar>
        <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="go_add()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>
            <table style="width:100%">
                <tr>
                    <td style='width:10%'>Image</td>
                    <td style='width:10%'>ID</td>
                    <td style='width:20%'>Surgeon Name</td>
                    <td style='width:60%'>Card URL</td>
                </tr>
            </table>
        </ons-list-header>
        <ons-list-item modifier='chevron' ng-repeat="pc in arrPCs" ng-click="go_detail($index)">
            <table style='width:100%'>
                <tr>
                    <td style='width:10%'>
                        <div class='center logo'>
                            <img src='{{rootPath + pc.card_url}}' class='center'>
                        </div>
                    </td>
                    <td style='width:10%'>{{pc.id}}</td>
                    <td style='width:20%'>{{pc.surgeon.name}}</td>
                    <td style='width:60%'>{{pc.card_url}}</td>
                </tr>
            </table>
        </ons-list-item>
    </ons-list>
</ons-page>