<ons-page ng-controller="PCsController">
    <div class="navigation-bar">
        <div class="navigation-bar__center">
            <ons-row>
                <ons-col width="85%">
                    <input type="search" ng-model="searchKey.name" class="search-input" style="width: 98%; margin: 6px auto 6px auto;" placeholder="Search">
                </ons-col>
                <ons-col width="15%">
                    <ons-toolbar-button class="right">
                        Add Surgeon
                    </ons-toolbar-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
    <ons-row class="center" style="margin-top:50px">
        <ons-col width="33%" ng-repeat="surgeon in arrSurgeons | filter: searchKey">
            <div style="margin-left:50px">{{surgeon.name}}</div>
        </ons-col>
    </ons-row>
</ons-page>