<ons-dialog cancelable ng-controller="ProductDetailDialogController" var="dlgProductDetail">
    <ons-row>
        <ons-col ng-click="product_pdf_view()">
            <div width="100%" style="margin:1px 1px;background-color:black;height:50px">
                <div class="center" style="color:white;text-align:center;height:100%;line-height:50px">PDF view of Product</div>
            </div>
        </ons-col>
        <ons-col ng-click="product_video_view()">
            <div width="100%" style="margin:1px 1px;background-color:black;height:50px">
                <div class="center" style="color:white;text-align:center;height:100%;line-height:50px">Videos of Product</div>
            </div>
        </ons-col>
    </ons-row>
</ons-dialog>