<ons-page ng-controller="ProductDetailController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Product Detail</div>
    </ons-toolbar>

    <ul class="list" id="productDetailList">
        <li class='list__item'>
            <div class='list__right-label'>{{product.id}}</div>
            ID
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{product.name}}</div>
            Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{product.category_name}}</div>
            Category
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{product.pdf_url}}</div>
            PDF URL
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{product.video_url}}</div>
            VIDEO URL
        </li>
    </ul>
</ons-page>