<ons-page ng-controller="ProductsController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Products List</div>
        <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="go_add()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-list>
        <ons-list-header>
            <table style="width:100%">
                <tr>
                    <td style='width:10%'>ID</td>
                    <td style='width:20%'>Name</td>
                    <td style='width:20%'>PDF URL</td>
                    <td style='width:20%'>VIDEO URL</td>
                    <td style='width:30%'>Category</td>
                </tr>
            </table>
        </ons-list-header>
        <ons-list-item modifier='chevron' ng-repeat="product in arrProducts" ng-click="go_detail($index)">
            <table style='width:100%'>
                <tr>
                    <td style='width:10%'>{{product.id}}</td>
                    <td style='width:20%'>{{product.name}}</td>
                    <td style='width:20%'>{{product.pdf_url}}</td>
                    <td style='width:20%'>{{product.video_url}}</td>
                    <td style='width:30%'>{{product.category_name}}</td>
                </tr>
            </table>
        </ons-list-item>
    </ons-list>
</ons-page>