<ons-page ng-controller="ProductAddController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Product</div>
        <div class="right">
            <ons-toolbar-button ng-click="product_add_done()">
                Done
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div class="add_form">
        <input type="text" class="text-input--underbar" placeholder="Name" value="" ng-model="addedProductName">
        <br>
        <input type="text" class="text-input--underbar" placeholder="PDF URL" value="" ng-model="addedProductPdfUrl">
        <br>
        <input type="text" class="text-input--underbar" placeholder="Video URL" value="" ng-model="addedProductVideoUrl">
        <br>
        
        <ons-list>
            <ons-list-header>Category</ons-list-header>
            
            <ons-list-item modifier="tappable" ng-repeat="category in arrCategories">
                <label class="radio-button radio-button--list-item">
                    <input type="radio" name="category_selector" value="{{category.value}}" ng-model="$parent.curCategoryValue">
                    <div class="radio-button__checkmark radio-button--list-item__checkmark"></div>
                    {{category.name}}
                </label>
            </ons-list-item>
        </ons-list>
        
    </div>
</ons-page>