<ons-page ng-controller="ProductPdfPageController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{product.name}}</div>
    </ons-toolbar>
    
    <iframe id="productPDFByUrl" width="100%" height="100%" align="middle">
    
    </iframe>
</ons-page>