<ons-page ng-controller="SurgeonDetailController">
    
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{surgeon.name}}</div>
    </ons-toolbar>
    
    <ul class="list">
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.id}}</div>
            ID
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.name}}</div>
            Name
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.contact_number}}</div>
            Contact Number
        </li>
        
        <li class='list__item'>
            <div class='list__right-label'>{{surgeon.specialty}}</div>
            Sepcialty
        </li>
    </ul>
    
    <div class="center" style="margin-top:30px;text-align:center;font-size:20px">Prefrence Cards</div>
    
    <ons-row class="center" style="margin-top:30px">
        <ons-col width="25%" ng-repeat="pc in arrSurgeonPCs" ng-click="go_detail(pc)">
            <div class="grid_item">
                <div class="category_image_div">
                    <img src="{{serverAddress + '/' + pc.card_url}}" class="center_image"/>
                </div>
                <div class="category_title">{{pc.name}}</div>
            </div>
        </ons-col>
    </ons-row>
</ons-page>