<ons-page ng-controller="SurgeonAddController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Surgeon</div>
        <div class="right">
            <ons-toolbar-button ng-click="surgeon_add_done()">
                Done
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <div class="add_form">
        <input type="text" class="text-input--underbar" placeholder="Name" value="" ng-model="addedSurgeonName">
        <br>
        <input type="text" class="text-input--underbar" placeholder="Specialty" value="" ng-model="addedSurgeonSpecialty">
        <br>
        <input type="text" class="text-input--underbar" placeholder="Contact Number" value="" ng-model="addedSurgeonContactNumber">
    </div>
</ons-page>