<ons-page ng-controller="SurgeonsController">
    <ons-toolbar>
        <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="go_add()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>
            <table style="width:100%">
                <tr>
                    <td style='width:10%'>ID</td>
                    <td style='width:20%'>Name</td> 
                    <td style='width:50%'>Specialty</td> 
                    <td style='width:20%'>Contact Number</td>
                </tr>
            </table>
        </ons-list-header>
        <ons-list-item modifier = 'chevron' ng-repeat="surgeon in arrSurgeons" ng-click="go_detail($index)">
            <table style='width:100%'>
                <tr>
                    <td style='width:10%'>{{surgeon.id}}</td>
                    <td style='width:20%'>{{surgeon.name}}</td>
                    <td style='width:50%'>{{surgeon.specialty}}</td>
                    <td style='width:20%'>{{surgeon.contact_number}}</td>
                </tr>
            </table>
        </ons-list-item>
    </ons-list>
</ons-page>